* {
  margin: 0;
  padding: 0;
}

:root {
  --blue: rgb(30, 76, 90);
  --blue2: rgb(49, 132, 157);
  --title-fonts: "Wallpoet";
  --secondary-fonts: "Sarpanch"
}

.homepage {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

nav {
  flex: 1 0 100%;
  background-color: black;
  height: fit-content;
  display: inline-block;
  text-align: center;
  align-content: center;
  position: absolute;
  width: 100vw;
}

ul {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  color: white;
  display: inline-block;
  font-family: var(--title-fonts);
  font-size: 30px;
  text-align: center;
  display: flex;
  padding: 10px;
}

.log-in-area {
  flex: 1 0 100%;
  background-color:rgb(30, 76, 90);
  height: 100%;
  flex-flow: column;
  width: 100%;
}
